---
import Layout from '../layouts/Layout.astro';

// Components
import Navbar from '../components/Navbar.astro';
import Carousel from '../components/Carousel.astro';
import CenterCardContainer from "../components/CenterCardContainer.astro";
import Card from "../components/Card.astro";



// Images
import GoldUmbraco from "../assets/images/gold-umbraco-partner.png"
import GoldContribute from "../assets/images/gold-contribute-partner.png"
import UmbracoMVP from "../assets/images/umbraco-mvp.png"
import CenterCardBGImage from "../assets/images/center-card-bg.webp"
import CenterCardSideImage from "../assets/images/GIRIRAJ-DIGITAL-Umbraco-MVP-Gold-Partner.png"
import Card1BgImage1 from "../assets/images/bg-card-1.webp"
import Card1BgImage2 from "../assets/images/bg-card-2.webp"
import Card1BgImage3 from "../assets/images/bg-card-3.webp"
import Card1BgImage4 from "../assets/images/bg-card-4.webp"
import Card1BgImage5 from "../assets/images/bg-card-5.webp"
import Card1BgImage6 from "../assets/images/bg-card-6.webp"
import UmbracoIcon from "../assets/images/umbraco.svg"
import MSPowerPlatFormIcon from "../assets/images/ms-power-platform.svg"
import SitecoreIcon from "../assets/images/sitecore.svg"
import MSDotNetCoreIcon from "../assets/images/ms-dot-net-core.svg"
import MSAzureCloudIcon from "../assets/images/ms-azure-cloud.svg"
import MSDOtNetIcon from "../assets/images/ms-dot-net.svg"
---

<Layout>
    <div class="space-y-40 bg-white">
        <div>
            <Navbar />
            <Carousel />
            <CenterCardContainer BgImage={CenterCardBGImage} Cards={[GoldContribute, UmbracoMVP, GoldUmbraco]} SideImage={CenterCardSideImage} />
        </div>


        <div class="mx-5 lg:mx-10 grid grid-cols-12">
            <div class="lg:col-start-2 lg:col-span-10 space-y-10 ">
                <div class="space-y-5 lg:w-[70%]">
                    <p class="text-[#0FA1DB] font-semibold lg:text-xl">Elevating Your Digital Presence</p>
                    <h2 class="text-[#21292C] lg:text-5xl leading-[120%] font-bold">Leverage The Microsoft Powerhouse To Elevate Your Digital Realm</h2>
                </div>

                <div class="grid grid-cols-3 gap-[30px]">
                    <Card 
                        BgImage={Card1BgImage1}
                        Icon={UmbracoIcon}
                        Heading="Umbraco"
                        Paragraph="Umbraco is a user-friendly and highly flexible content management system (CMS) that enables businesses to create and manage web applications."
                        Link="/"
                    />
                    <Card 
                        BgImage={Card1BgImage2}
                        Icon={MSPowerPlatFormIcon}
                        Heading="Microsoft Power Platform"
                        Paragraph="The Microsoft Power Platform is a suite of interconnected tools: Power BI for business analytics, Power Apps for app creation."
                        Link="/"
                    />
                    <Card 
                        BgImage={Card1BgImage3}
                        Icon={SitecoreIcon}
                        Heading="Sitecore"
                        Paragraph="Sitecore is another prominent digital experience platform that offers tools for content management, marketing automation, and customer analytics."
                        Link="/"
                    />

                    <Card 
                        BgImage={Card1BgImage4}
                        Icon={MSDotNetCoreIcon}
                        Heading="Microsoft .NET Core"
                        Paragraph="Elevate your projects with our ASP.NET Core expertise at Giriraj Digital. Our skilled team delivers innovative solutions for your digital needs."
                        Link="/"
                    />
                    <Card 
                        BgImage={Card1BgImage5}
                        Icon={MSAzureCloudIcon}
                        Heading="Microsoft Azure Cloud"
                        Paragraph="Microsoft Azure is a cloud computing platform that provides a wide range of cloud services and enables businesses to scale their infrastructure."
                        Link="/"
                    />
                    <Card 
                        BgImage={Card1BgImage6}
                        Icon={MSDOtNetIcon}
                        Heading="Microsoft .NET"
                        Paragraph="Powering robust and scalable software solutions across diverse platforms. Elevate your development with cutting-edge tools and frameworks."
                        Link="/"
                    />
                </div>
            </div>
        </div>
    </div>
</Layout>